.container {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #343434;
    justify-content: center;
    max-height: 456px;
    overflow: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.outerContainer {
    color: white;
    background-color: #343434;
    padding: 40px 10px 10px;
}