.container {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #343434;
    justify-content: center;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 60px;
}

.container::-webkit-scrollbar {
    display: none;
}

.outerContainer {
    color: white;
    background-color: #343434;
    padding: 40px 20px 10px;
    text-align: center;
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBox {
    margin: 30px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid #4F4F4F;
    background: #343434;
    color:#74797F;
    font-size: 15px;
    transition: 0.5s ease;
    font-weight: 300;
    padding: 12px 2px;
    width: 330px;
    font-family: 'Open Sans' sans-serif;
}

.searchBox:focus {
    /* background: #545864; */
    border-bottom: 1px solid #db3939;
    outline: none;
    color: #ffffff;
}

.searchIcon {
    position: absolute;
    right: 25px;
    bottom: 20px; /* Position the icon at the bottom */
    color: #74797F;
    max-width: 15px;
    pointer-events: none; /* Makes sure the icon doesn't block input */
}

.emoji {
    max-width: 60px;
    margin-top: 135px;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-touch-callout: none; /* Disable callout on long touch on iOS */
    -webkit-user-drag: none;   /* Disable dragging on WebKit browsers */
}

.message {
    font-size: 20px;
    margin: 20px 110px;
    font-weight: 700;
}

.subMessage {
    font-size: 16px;
    margin: 10px 110px;
    font-weight: 100;
}

.arrow {
    max-width: 100px;
    margin-right: 125px;
    margin-top: 10px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome and Opera */
    -webkit-touch-callout: none; /* Disable callout on long touch on iOS */
    -webkit-user-drag: none;   /* Disable dragging on WebKit browsers */
}