.container {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: left;
    left: 0;
    z-index: 30;
    height: 50px;
}

.logo {
    max-width: 27px;
}

.backButtonContainer {
    position: absolute;
    left: 20px;
    top: 13px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 25px;
}

.backButtonContainer:hover {
    opacity: 20%;
}

.backButton {
    max-width: 8px;
}