.container {
    text-align: center;
    vertical-align: middle;
    background-color: gray;
    margin: 0;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: left;
    left: 0;
    z-index: 30;
    height: 50px;
}