@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans' sans-serif;
  width: 422px;
  height: 632px;
  background-color: #343434;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
